# Ignore node_modules and build folders
node_modules/
dist/
build/

# Ignore temporary files
*.log
*.tmp

# Ignore environment files (keep secrets private)
.env

# Ignore system files
.DS_Store
thumbs.db
